---
---
@import "{{ site.theme }}";

#title {
  height: 220px;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.page-game #title {
  height: 175px;
  background-size: 100%;
}

.nav-menu {
  font-size: 18px;
  margin-bottom: 25px;
  text-align: center;
}

.home {
  text-align: center;
}

.game-icon img {
  width: 250px;
}

.game-index-link h2 {
  text-decoration: underline;
}

.link {
  color: #ffcc00;
}
